.search-bar-container {
  position: relative;
  border: 3px solid #00d573;
  border-radius: 25px;
  padding: 10px;
  max-width: 350px;
  font-size: 1.8em;
  margin: auto;
}

.search-bar-container i {
  position: absolute;
  margin-left: 0.5em;
}

.search-bar-input {
  padding-left: 3em;
  background: transparent;
  border: transparent;
  width: 100%;
  font-size: 0.7em;
  color: #00d573;
}
